/* Styles pour la page Livraison */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Fond noir */
    color: #ffffff; /* Texte blanc */
}

/* Header */
header {
    background-color: #ff8400;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Logo fixe et grand */
.logo {
    width: 167px; /* Ajustez la taille selon vos besoins */
    height: auto;
    position: fixed; /* Position fixe pour qu'il reste visible */
    top: 10px; /* Distance par rapport au haut de la page */
    left: 10px; /* Distance par rapport au côté gauche */
    z-index: 1000; /* Assure que le logo est au-dessus des autres éléments */
}

/* Conteneur du header */
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: #ff8400; /* Couleur de fond */
    position: relative;
    margin-left: 120px; /* Espace pour ne pas superposer le logo */
}

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    color: #ffffff;
    margin: 0;
    text-align: center;
}

header .slogan {
    font-size: 1.2em;
    font-style: italic;
    margin-top: 5px;
    text-align: center;
    color: #ffffff;
}

/* Navigation */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #ff8400; /* Orange */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff; /* Texte blanc */
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #000000; /* Fond noir pour effet */
    border-radius: 5px;
    color: #ff8400; /* Texte orange au survol */
}

/* Contenu principal */
main {
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

h3 {
    color: #ff8400;
    margin-top: 20px;
}

ul {
    padding-left: 20px;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
